<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form th:action="@{registration}" method="post" th:object="${userEntity}">
    <div><label> User Name : <input th:field="*{name}" type="text" name="username"/> </label></div>
    <div><label> Password: <input th:field="*{password}" type="password" name="password"/> </label></div>
    <div><input type="submit" value="registrate"></div>
</form>
</body>
</html>